@page
@model WebTest.Pages.PagamentoModel

<h1>Pagamentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Salário</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Nome</td>
            <td>@Model.Salario</td>
        </tr>
    </tbody>
</table>
