@page
@model WebTest.Pages.PontoModel
@{
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à tela de ponto</h1>
    <p>Registre seu ponto:</p>

    <form method="post">
        <button type="submit" class="btn btn-primary">Bater Ponto</button>
    </form>
</div>
