@page
@model WebTest.Pages.PontoModel
@{
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à tela de ponto</h1>
    <p>Registre seu ponto:</p>

    <form method="post">
        <button type="submit" class="btn btn-primary">Bater Ponto</button>
        <a asp-page="PontoList" class="list-group-item list-group-item-action">Ver todos os pontos</a>
        <a asp-page="Pagamento" class="list-group-item list-group-item-action">Ver Pagamentos</a>
        <a asp-page="FeriasColaborador" class="list-group-item list-group-item-action">Férias</a>
    </form>
</div>
